.my-modal {
  .modal-content {
    width: 80%;
    margin: auto;
    border-radius: 30px;
  }
}

.LoginPage {
  background: #f6f2e4;
  border-radius: 30px;

  .Heading {
    color: #70ab43;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
  }
  .label {
    margin: 10px 0 5px 21%;
    font-size: 15px;
    font-weight: 700;
    @media only screen and (max-width: 900px) {
      margin: 10px 0 5px 11%;
    }
  }
  .search-icon {
    width: 60%;
    position: relative;
    margin: 0px 0 0 20%;
    @media only screen and (max-width: 900px) {
      width: 80%;
      margin: 0px 0 0 10%;
    }
    .icon {
      position: absolute;
      left: 20px;
      top: 10px;
      opacity: 0.5;
      //   svg {
      //     color: ;
      //   }
    }
    input {
      background-color: white;
      border-radius: 25px;
      padding: 10px 25px;
      padding-left: 45px;
      border: 1px solid #70ab43;
      width: 100%;
    }
  }
  .loginBtn {
    margin: 30px 5px;
    text-align: center;
    button {
      width: 200px;
      text-align: center;
      border: none;
      background-color: #70ab43;
      border-radius: 50px;
      padding: 10px;
      color: white;
      font-weight: 700;
      font-size: 20px;
      &:hover {
        background-color: #588635;
      }
    }
  }
  .hrefLink {
    text-align: center;
    color: #70ab43;
    font-size: 15px;
    cursor: pointer;
    border-bottom: 1px solid #70ab43;
    margin: auto;
    width: 50px;
    margin: 15px auto;
    &:hover {
      color: blue;
      border-bottom: 1px solid blue;
    }
  }
}
