
.allTourCarousel{
  .Header {
    margin-bottom: 3rem;
    padding-right: 2.5rem;
    margin-top: 3rem;
    h1 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      font-weight: 700;
    }
  }
  .carousel{
   button{
    display: none;
   }
  }
}