.destinationCard {
  .CardDetails {
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .cardHeading {
      p {
        font-size: 20px;
        font-weight: 600;
      }
      h1 {
        font-size: 25px;
        font-family: Graphik, Helvetica, Arial Black, Arial, Sans-Serif !important;
        font-weight: 800;
      }
    }
    .cardTxt {
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        border-radius: 50px;
        width: 60px;
        height: 60px;
      }
      p {
        font-size: 15px;
        font-weight: 600;
      }
      .ExploreButton {
        border: 1px solid #fff;
        border-radius: 1.5rem;
        padding: 5px 20px 10px;
        line-height: 1rem;
        background: rgba(0, 0, 0, 0.3);
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}
